---
import Layout from '../layouts/Layout.astro';
---

<Layout title="astro-website-template">
  <main>
    <h1>Hello World</h1>
  </main>
</Layout>

<script>
  import { sample } from '~/ts/sample';
  sample();
</script>
