---
import '../styles/style.scss';
export type Props = {
  title?: string;
  description?: string;
  ogImagePath?: string;
};

const { title, description, ogImagePath } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title ?? ''}</title>
    <meta name="description" content={description ?? ''} />
    <meta property="og:title" content={title ?? ''} />
    <meta property="og:description" content={description ?? ''} />
    <meta property="og:image" content={ogImagePath ?? ''} />
  </head>
  <body>
    <slot />
  </body>
</html>
